body{
   background-color: rgb(19, 99, 204); 
   background: linear-gradient(45deg, #2600ff, #d400ff);
   align-self: center;


}

h1{
    margin: auto;
    
}


.cabecalho{
    
    margin-top: 50PX;
    margin-bottom: 50px;
    background-color: aqua;
    text-align: center;
    display: flex;

}

.corpo{


    margin-top: 50px;
    margin: auto ;
    align-items: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp6010448.jpg");
    height: 100vh;
    border-radius: 20px;
    border: #3393e2;
    width: 80%;
    display: flex;

}

.l1{

    color: darkorange;
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.5s ease;
    
}

.l1:hover{
    color: aliceblue;
    font-size: 100px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.2);
      
    
}

