

.login{

    border: 20px;
    border-radius: 10px;
    border-style: double;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;

}

.login-item{
    
    display: flex;
    flex-shrink: initial;
}

.login-senha{
    
    display: flex;
    
}