body{
   background-color: rgb(19, 99, 204); 
   background: linear-gradient(45deg, #ff0022, #ff761b);
   align-self: center;
   margin: 0%;


}

h1{
    margin: auto;
    
}


.cabecalho{
    
    margin-top: 50PX;
    margin-bottom: 50px;
    background-color: rgba(250, 75, 75, 0.63);
    background: linear-gradient(135deg, #ff761b, #ff0022);
    text-align: center;
    display: flex;


}

.home{
    display: flex;
    justify-content: flex-start;
}


.login{
    display: flex;
    justify-content: flex-end;
}


.corpo{


        margin-top: 50px;
        margin: auto ;
        align-items: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
        background-image: url("C:\\Users\\Novo\\Downloads\\pano-de-fundo-abstrato-vermelho-luxo.jpg");
        height: 100vh;
        border-radius: 20px;
        border: #3393e2;
        width: 80%;
        display: flex;
        justify-content: center;
        
}



/* .l1{

    color: transparent; 
    font-size: 50px;
    text-align: center;
    background-color: transparent; 
    cursor: pointer;
    transition: transform 0.5s ease;

   
    


}

.l1:hover{
    color: rgb(240, 241, 255);
    font-size: 100px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.2);
    -webkit-text-stroke: 5px black;
    
} */

.titulo{
    text-align: center;
    display: flex;
}



.titulo h1{

    color: transparent; 
    font-size: 100px;
    text-align: center;
    background-color: transparent; 
    cursor: pointer;
    transition: transform 0.5s ease;

}



.titulo h1:nth-child(odd):hover{
    transform: scale(2.0) translate(-30px);
    color: #e5ff00;
    -webkit-text-stroke: 5px black;
}

.titulo h1:nth-child(even):hover{
    transform: scale(2.0) translate(30px);
    color: #030303;
    -webkit-text-stroke: 5px #e5ff00;
}

/* .titulo h1:hover{

    color: #e5ff00;
    font-size: 150px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.2);
    -webkit-text-stroke: 5px black;
} */

